services:
  mongodb:
    image: mongo:8
    container_name: mongodb
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${BETTER_AUTH_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${BETTER_AUTH_PASSWORD}
      - MONGO_INITDB_DATABASE=${APP_DB}
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local
